.pulse {
  box-shadow: 0 0 0 rgba(239, 68, 68, 0.8);
  animation: pulse 1s infinite;
}
.pulse:hover {
  animation: none;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(239, 68, 68, 0.8);
  }
  70% {
      box-shadow: 0 0 0 10px rgba(239, 68, 68, 0);
  }
  100% {
      box-shadow: 0 0 0 0 rgba(239, 68, 68, 0);
  }
}