@import "simplebar-react/dist/simplebar.min.css";
@tailwind base;
@tailwind components;
@tailwind utilities;

/* toasts */
.toasts {
  --toastify-color-light: #fff;
  --toastify-color-dark: #121212;
  --toastify-color-info: hsl(var(--in) / 1);
  --toastify-color-success: hsl(var(--su) / 1);
  --toastify-color-warning: hsl(var(--wa) / 1);
  --toastify-color-error: hsl(var(--er) / 1);
  --toastify-color-transparent: rgba(255, 255, 255, 0.7);

  --toastify-icon-color-info: var(--toastify-color-info);
  --toastify-icon-color-success: var(--toastify-color-success);
  --toastify-icon-color-warning: var(--toastify-color-warning);
  --toastify-icon-color-error: var(--toastify-color-error);

  --toastify-toast-width: 320px;
  --toastify-toast-background: #fff;
  --toastify-toast-min-height: 2rem;
  --toastify-toast-max-height: 800px;
  --toastify-font-family: sans-serif;
  --toastify-z-index: 9999;

  --toastify-text-color-light: #757575;
  --toastify-text-color-dark: #fff;

  /* //Used only for colored theme */
  --toastify-text-color-info: hsl(var(--inc,var(--nc))/1);
  --toastify-text-color-success: hsl(var(--suc,var(--nc))/1);
  --toastify-text-color-warning: hsl(var(--wac,var(--nc))/1);
  --toastify-text-color-error: hsl(var(--erc,var(--nc))/1);

  --toastify-spinner-color: #616161;
  --toastify-spinner-color-empty-area: #e0e0e0;

  /* // Used when no type is provided */
  --toastify-color-progress-dark: #bb86fc;
  --toastify-color-progress-info: var(--toastify-color-info);
  --toastify-color-progress-success: var(--toastify-color-success);
  --toastify-color-progress-warning: var(--toastify-color-warning);
  --toastify-color-progress-error: var(--toastify-color-error);
}

html.host, html.host body, html.host #root {
  @apply bg-base-300 !important;
}

:root, html, body, #root {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: transparent;
}

@font-face {
  font-family: 'Outfit';
  src: url('assets/fonts/Outfit-Variable.ttf') format("truetype-variations");
  font-weight: 1 999;
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('assets/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

.font-header {
  font-family: "Outfit"
}

:root {
  margin: 0;
  /* font-size: 16px; */
  font-family: "Mona Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(16px * var(--uiscale));
  transition: font-size .1s ease-in-out;
}

* {
  user-select: none;
}

.btn {
  /* font-weight: 600;
  line-height: 1.2em; */
  text-transform: none;
}

/*Input*/
fieldset > input[type="color"] {
  padding: 0;
}
fieldset > input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
fieldset > input[type="color"]::-webkit-color-swatch {
  -webkit-appearance: none;
  border: none;
  margin: 0;
  height: 100%;
}

.field-width {
  @apply w-36 !important;
}

/*Tooltip*/
.custom-tooltip {
  @apply text-sm bg-neutral text-neutral-content p-2 rounded-md font-semibold;
}
.custom-tooltip-arrow {
  @apply absolute bg-neutral;
  width: 0.5rem;
  height: 0.5rem;
  transform: rotate(45deg);
}
.simplebar-hidden .simplebar-track {
  display: none;
}
/* Dropdown */

.dropdown {
  min-width: 13rem;
  z-index: 1000;
  @apply menu menu-compact bg-base-100 w-56 rounded-box font-semibold shadow-lg;
}
.dropdown li {
  z-index: 1001;
}
.dropdown-arrow {
  z-index: 1000;
  @apply bg-base-100;
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.simplebar-scrollbar::before {
  @apply bg-primary;
  color: rgb(255, 234, 234);
}

.dropdown .react-colorful {
  @apply w-full;
}
.dropdown .react-colorful__saturation {
  @apply rounded-t-xl;
}

.dropdown .react-colorful__pointer {
  height: 20px;
  width: 20px;
}
.dropdown .react-colorful__pointer {
  border: none;
}
.dropdown .react-colorful__pointer-fill {
  border: 2px solid white;
}

.dropdown .react-colorful__alpha, .dropdown .react-colorful__hue {
  height: 1rem;
}
/*
.react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
.react-colorful__hue {
  height: 40px;
  border-radius: 0 0 4px 4px;
}
.react-colorful__hue-pointer {
  width: 12px;
  height: inherit;
  border-radius: 0;
} */