@import "simplebar-react/dist/simplebar.min.css";
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


:root, html, body {
  background-color: transparent !important;
}

@font-face {
  font-family: 'Mona Sans';
  src:
    url('assets/fonts/Mona-Sans.woff2') format('woff2 supports variations'),
    url('assets/fonts/Mona-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Hubot Sans';
  src:
    url('assets/fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('assets/fonts/Hubot-Sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

.font-header {
  font-family: "Outfit"
}

:root {
  margin: 0;
  /* font-size: 16px; */
  font-family: "Mona Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(16px * var(--uiscale));
  transition: font-size .1s ease-in-out;
}

* {
  user-select: none;
}

.btn {
  /* font-weight: 600;
  line-height: 1.2em; */
  text-transform: none;
}

/*Input*/
fieldset > input[type="color"] {
  padding: 0;
}
fieldset > input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
fieldset > input[type="color"]::-webkit-color-swatch {
  -webkit-appearance: none;
  border: none;
  margin: 0;
  height: 100%;
}

.field-width {
  @apply w-36 !important;
}

/*Tooltip*/
.custom-tooltip {
  @apply text-sm bg-neutral text-neutral-content p-2 rounded-md font-semibold;
}
.custom-tooltip-arrow {
  @apply absolute bg-neutral;
  width: 0.5rem;
  height: 0.5rem;
  transform: rotate(45deg);
}
.simplebar-hidden .simplebar-track {
  display: none;
}
/* Dropdown */

.dropdown {
  min-width: 13rem;
  z-index: 1000;
  @apply menu menu-compact bg-base-100 w-56 rounded-box font-semibold shadow-lg;
}
.dropdown li {
  z-index: 1001;
}
.dropdown-arrow {
  z-index: 1000;
  @apply bg-base-100;
  position: absolute;
  width: 10px;
  height: 10px;
  transform: rotate(45deg);
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.simplebar-scrollbar::before {
  @apply bg-primary;
  color: rgb(255, 234, 234);
}

.dropdown .react-colorful {
  @apply w-full;
}
.dropdown .react-colorful__saturation {
  @apply rounded-t-xl;
}

.dropdown .react-colorful__pointer {
  height: 20px;
  width: 20px;
}
.dropdown .react-colorful__pointer {
  border: none;
}
.dropdown .react-colorful__pointer-fill {
  border: 2px solid white;
}

.dropdown .react-colorful__alpha, .dropdown .react-colorful__hue {
  height: 1rem;
}
/*
.react-colorful__saturation {
  border-radius: 4px 4px 0 0;
}
.react-colorful__hue {
  height: 40px;
  border-radius: 0 0 4px 4px;
}
.react-colorful__hue-pointer {
  width: 12px;
  height: inherit;
  border-radius: 0;
} */